button.btn-function {
	height: 100%;
	width: 100%;
}

#fctBody .row {
    border-bottom: 1px solid #e5e5e5;
    margin-left : 15px;
    margin-right : 15px;
    padding-bottom: 0px;
    padding-top: 5px;
    line-height: 30px;
}

#fctBody.recap .row {
    padding-bottom: 5px;
}

#fctBody .row:nth-child(2n){
    background-color: #EFEFEF;
}

@media (min-width: 1200px) {
	#functions .function {
		height: 100px;
		padding-left: 10px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
	#functions .function:nth-child(3n) {
		padding-left: 5px;
		padding-right: 10px;
	}
	#functions .function:nth-child(3n+1) {
		padding-left: 15px;
		padding-right: 0px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#functions .function {
		height: 100px;
		margin-bottom: 10px;
	}
	#functions .function:nth-child(2n) {
		padding-left: 5px;
		padding-right: 42px;
	}
	#functions .function:nth-child(2n+1) {
		padding-left: 42px;
		padding-right: 5px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#functions .function {
		height: 100px;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
}
@media (max-width: 767px) {
	#functions .function {
		float: left;
		width: 100%;
		height: 75px;
		margin-bottom: 5px;
	}
}

#fctBody .row.switcher .nomElt span{
    position: relative;
    bottom: 10px;
}

#fctBody.recap .row.title,
#fctBody.reveil .row.title{
    text-align: center;
}

#fctBody.reveil .row .nom {
    overflow: hidden;
    white-space: nowrap;
}

#fctBody.reveil .row .heure {
    text-align: center;
}

#fctBody.reveil .row .status,
#fctBody.reveil .row .delete{
    /*padding-left: 37px;*/
    background-repeat: no-repeat;
    height : 32px;
    width : 32px;
    cursor: pointer;
}

#fctBody.reveil .row .delete{
    background-image: url("./img/clock_delete.png");
}

#fctBody.reveil .row .status.on {
    background-image: url("./img/clock_.png");
}

#fctBody.reveil .row .status.on:hover {
    background-image: url("./img/clock_stop.png");
}

#fctBody.reveil .row .status.off {
    background-image: url("./img/clock_red.png");
}

#fctBody.reveil .row .status.off:hover {
    background-image: url("./img/clock_play.png");
}

#fctBody.reveil .row .status.wait {
    background-image: url("./img/clock_select_remain.png");
}

#fctBody.recap .row .col-xs-2{
    height : 32px;
    background-repeat: no-repeat;
    background-position: center;
}

/* micro button and header align */
h1 {
	line-height: 32px;
	margin-left: 50px;
}

.btn-micro {
	width: 32px;
	height: 32px;
	float: left;
	vertical-align: middle;
	padding: 0px;
	background:#cc0000;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}

.btn-micro-record {
	width: 32px;
	height: 32px;
	float: left;
	vertical-align: middle;
	padding: 0px;
	background:#76ee00;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}

/* icons on/off state */
#fctBody .imgState {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
}

/* icons for lumiere on/off */
#fctBody.recap .lumiere.on,
#fctBody.lumiere .imgState.on {
    background-image: url("./img/lightbulb.png");
}

#fctBody.recap .lumiere.off,
#fctBody.lumiere .imgState.off {
    background-image: url("./img/lightbulb_off.png");
}

/* icons for porte and volet on/off */
#fctBody.recap .porte.on,
#fctBody.recap .volet.on,
#fctBody.porte .imgState.on,
#fctBody.volet .imgState.on {
    background-image: url("./img/lock_open.png");
}

#fctBody.recap .porte.off,
#fctBody.recap .volet.off,
#fctBody.porte .imgState.off,
#fctBody.volet .imgState.off {
    background-image: url("./img/lock.png");
}

/* notif-row */
#notif-row {
    position : absolute;
    right: 2px;
    top : 2px;
}

#notif-row .alert .close {
    margin-left : 20px;
}

#map{
	min-height : 666px;
}

/*
 * Style pour les player Hifi
 */
div.playerscontainer {
    width : 450px;
    height : 210px;
    position: relative;
    left: 50%;
    margin-left: -250px;
}

div.playerscontainer .wrapper {
    position: relative;
    width : 450px;
    height : 210px;
    z-index: 300;
/*    background-color: rgba(66,66,66,.5);*/
}

div.player {
    float: left;
    height:200px;
    width: 200px;
    background-color: rgba(66,66,66,.5);
}

div.player.prev {
    position: relative;
    z-index: 100;
    transform: perspective(300) rotateY(45deg) scale(0.8);
    -webkit-transform: perspective(300) rotateY(45deg) scale(0.8);
}

div.player.next {
    position: relative;
    z-index: 100;
    left : 250px;
    top: -205px;
    transform: perspective(300) rotateY(-45deg) scale(0.8);
    -webkit-transform: perspective(300) rotateY(-45deg) scale(0.8);
}

div.player.curr {
    position: relative;
    z-index: 200;
    left : -75px;
    top: 10px;
}
